{{>partials/header}}
<form method="POST" action="nascimento">
<p>Qual o ano em que você nasceu?</p>
<input type="number" name="ano" placeholder="Digite o ano que você nasceu" class="nascimento">
<p><input type="submit" value="Enviar"></p>
</form>

{{#idade}}
Sua idade é {{idade}} anos.
{{/idade}}

{{>partials/footer}}